.favourites-main{
    padding:40px 23vw 44px  23vw ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pag-wrap{
    margin-top: 104px;
}

@media (max-width: 700px){
    .favourites-main{
        padding:20px 13vw 24px  13vw ;
    }

}