.filters {
    padding: 20px;
    background-color: #ffff;
    border: 1px solid #EAEBED;
    width: 324px;
    border-radius: 12px;
    margin-right: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.filters-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
}

.filters-header .left:hover {
    opacity: 80%;
    cursor: default;
}

.filters-header .left {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.filters-header h2 {
    color: #ACADB9;
    font-weight: 500;
    margin-right: 8px;
}

.filters-btn {
    background-color: #5E96FC;
    border: 2px solid #5E96FC;
    border-radius: 8px;
    padding: 10px 99px;
    color: white;
    width: 100%;
}

.filters-btn:hover {
    background-color: white;
    border: 2px solid #5E96FC;
    color: black;
}

.salary-inp {
    margin: 20px 0;
}

.filters label {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.numb-inp-1{
    margin-bottom: 8px;
}

@media (max-width: 1150px) {
    .filters {
        margin: 0px 0 40px;
    }
}