.card {
    border: 1px solid #EAEBED;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #EAEBED;
    background: white;
    padding: 24px;
    margin: 16px 0 0 0;
    font-family: 'Inter', serif;
    font-size: 16px;
    position: relative;
    width: 100%;
}

.profession {
    font-weight: 600;
    font-size: 20px;
    color: #5E96FC;
    margin-right: 50px;
}


.salary {
    margin: 13px 0;
}

.salary span {
    font-weight: 600;
}

.dot {
    padding: 12px;
    font-weight: 700;
    color:gray;
}

.loc {
    margin-right: 13px;
}

.favourites-star {
    position: absolute;
    padding: 3px;
    right: 22px
}

@media (max-width: 400px) {
    .favourites-star {
        position: inherit;
        margin-left: 16px
    }
}